{% load static %}


<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        
      <a class="navbar-brand" href="{% url 'accounts_home' %}">Coldbox</a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarsExample04">
          
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'search_accounts' %}">Search</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'about' %}">About</a>
          </li>
        
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" href="{% url 'accounts_home' %}" data-bs-toggle="dropdown">Downloads</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'accounts_home' %}">Accounts</a></li>
              <li><a class="dropdown-item" href="{% url 'accounts_home' %}">Log In</a></li>
              <li><a class="dropdown-item" href="{% url 'accounts_home' %}">Log Out</a></li>
            </ul>
          </li>
        
        </ul>
        
      </div>


    </div>


  </nav>
