{% extends "gatepasses/base.html" %}


<!-- Add some Bootstrap cards later on -->


{% block title %}Coldbox{% endblock %}


{% block content %}



<!-- Page Content -->
<div class="container">

<br />

<div class="row">

  <!-- Column on the extreme left of the page for formatting purposes-->
  <div class="col-md-1">
  </div>


  <!-- Content Column -->

  
  <div class="col-md-10">

      <div>
          Date: {{ gatepass.date }}
      </div>

      <div>
          {{ gatepass.description|linebreaks }}
      </div>
            
  </div>


  <!-- Column on the extreme right of the page for formatting purposes-->
  <div class="col-md-1">  
  </div>
    
</div>
<!-- /.row -->

</div>
<!-- /.container -->


{% endblock %}
