{% extends "gatepasses/base.html" %}
{% load widget_tweaks %}


<!-- 
Add some Bootstrap cards later on.

Extend (or override) the Django ModelForm so that the forms look better.

https://learndjango.com/tutorials/django-file-and-image-uploads-tutorial
https://getbootstrap.com/docs/5.2/examples/cheatsheet
https://www.pypi.org/project/django-widget-tweaks
https://www.prettyprinted.com/tutorials/django-widget-tweaks
-->


{% block title %}Coldbox{% endblock %}


{% block content %}



<!-- Page Content -->
<div class="container">

<br />

<div class="row">

  <!-- Column on the extreme left of the page for formatting purposes-->
  <div class="col-md-1">
  </div>


  <!-- Content Column -->

  
  <div class="col-md-10">

      <div>
          Date: {{ gatepass.date_created }}
      </div>

      <div>
          {{ gatepass.description|linebreaks }}
      </div>
            
  </div>


  <!-- Column on the extreme right of the page for formatting purposes-->
  <div class="col-md-1">  
  </div>
    
</div>
<!-- /.row -->

</div>
<!-- /.container -->


{% endblock %}
